<!DOCTYPE html>
<html lang="es">

    <%- include("./partials/head") %> 
<body class="home">

    <%- include("./partials/header") %> 

    <main>

        <!----------------------------------    BOOSTRAP    ------------------------------------------>

        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/images/banners/banner4.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/images/banners/banner2.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/images/banners/banner3.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>

        <!----------------------------------    BOOSTRAP    ------------------------------------------>

        <div class="main">
        <section >
            <div class="redes">
            <h3>Seguinos en nuestras Redes</h3>

            <a href="#"><img src="/images/icon/facebook.png" alt="facebook"></a>
            <a href="#"><img src="/images/icon/instagram.png" alt="instagram"></a>
            <a href="#"><img class="twitter" src="/images/icon/twitter.png" alt="twitter"></a>
            </div>
        </section>

        <h2>Nuevos Lanzamientos</h2>
        
        <div class="decoracion">
            <!-- LINEA DECORATIVA -->
        </div>

        <section class="productos">
            <% products.forEach(product => { %> 
                <% if (product.category == "new-release"){ %> 
                    <article>
                        <a href="/products/detail/<%=product.id%> " class="a-article">
                            <div class="contenedor-img">
                                <img src="/images/products/<%=product.image[0]%>" alt="image">
                            </div>

                            <div class="product-info">
                                <button><i class="far fa-heart"></i></button>

                                <div class="title">
                                    <h3><%=product.name %> </h3>
                                </div>
                                <div class="info">
                                    <p class="price">$ <%=toThousand(product.price)%> </p>
                                    <%if (product.discount !== 0){%>
										<span class="discount"><%=product.discount%>% OFF</span>
									<%}%>
                                    <%if(product.payMethod > 0){%>
                                        <p class="payMethod"><%=product.payMethod%>x $ <%=toThousand((product.price / product.payMethod).toFixed(0))%> sin interés</p>
                                    <%}%>
                                </div>
                            </div>
                        </a>
                    </article>
                 <% } %> 
            <% }) %> 
        </section>

        <h2>Mas Vendidos</h2>

        <div class="decoracion">
            <!-- LINEA DECORATIVA -->
        </div>

        <section class="productos">
            
            <% products.forEach(product => { %> 
                <% if (product.category == "best-seller"){ %> 
                    <article>
                        <a href="/products/detail/<%=product.id%> " class="a-article">
                            <div class="contenedor-img">
                                <img src="/images/products/<%=product.image[0]%>" alt="image">
                            </div>

                            <div class="product-info">
                                <button><i class="far fa-heart"></i></button>

                                <div class="title">
                                    <h3><%=product.name %> </h3>
                                </div>
                                <div class="info">
                                    <p class="price">$ <%=toThousand(product.price)%> </p>
                                    <%if (product.discount !== 0){%>
										<span class="discount"><%=product.discount%>% OFF</span>
									<%}%>
                                    <%if(product.payMethod > 0){%>
                                        <p class="payMethod"><%=product.payMethod%>x $ <%=toThousand((product.price / product.payMethod).toFixed(0))%> sin interés</p>
                                    <%}%>
                                </div>
                            </div>
                        </a>
                    </article>
                 <% } %> 
            <% }) %> 
        </section>

        <h2>Ofertas</h2>

        <div class="decoracion">
            <!-- LINEA DECORATIVA -->
        </div>

        <section class="productos">
            <% products.forEach(product => { %> 
                <% if (product.category == "in-sale"){ %> 
                    <article>
                        <a href="/products/detail/<%=product.id%> " class="a-article">
                            <div class="contenedor-img">
                                <img src="/images/products/<%=product.image[0]%>" alt="image">
                            </div>

                            <div class="product-info">
                                <button><i class="far fa-heart"></i></button>

                                <div class="title">
                                    <h3><%=product.name %> </h3>
                                </div>
                                <div class="info">
                                    <p class="price">$ <%=toThousand(product.price)%> </p>
                                    <%if (product.discount !== 0){%>
										<span class="discount"><%=product.discount%>% OFF</span>
									<%}%>
                                    <%if(product.payMethod > 0){%>
                                        <p class="payMethod"><%=product.payMethod%>x $ <%=toThousand((product.price / product.payMethod).toFixed(0))%> sin interés</p>
                                    <%}%>
                                </div>
                            </div>
                        </a>
                    </article>
                 <% } %> 
            <% }) %> 
        </section>
    </div>
    </main>
    
    <%- include("./partials/footer") %> 

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>

