<header>
    <nav>
        <!----------------------------------    BOOSTRAP MENU TELEFONO  ------------------------------------------>

        <div class="nav-0"> 
            <div class="c-nav-sup">
                <a class="button-menu" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample"><i class="fas fa-bars menu"></i></a>
               
                <a href="/" class="logo-mobile">
                    <img src="/images/icon/Logo 3.png" alt="logo" width="100%">
                </a>
               
                <a href="#" class="button-menu position-relative" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRightMobile" aria-controls="offcanvasRightMobile">
                    <i class="fas fa-shopping-cart"></i>
                    <span id="cartBadgeMobile" class="position-absolute top-15 start-95 translate-middle badge rounded-pill pill-size">
                        0
                    </span>
                </a>

                <!-- BOOSTRAP CARRITO -->

                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRightMobile" aria-labelledby="offcanvasRightLabel">
                    <div class="offcanvas-header">
                        <h5 id="offcanvasRightLabelMobile">Carrito (0)</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                    <div class="offcanvas-body" style="padding: 0%;overflow: hidden;">
                        <div id="c-products-cart-mobile" class="c-products-cart">

                            <p id="CartEmpty" class="CartEmpty">No tienes productos en el carrito</p>
                        </div>
                        <div id="offcanvas-footer-mobile" class="offcanvas-footer" style="display: none;">
                            <div class="div-finalPriceCart">
                                <p id="tFinalPriceCart" class="finalPriceCart">Total :</p>
                                <p id="finalPriceCartMobile" class="finalPriceCart"></p>
                            </div>
                            <div class="c-buttons-cart">
                                <button type="button" class="btn btn-primary" style="background-color: #F2204D; border: none;" onclick="emptyCart()">Vaciar carrito</button>
                                <a href="/cart/<%= locals.userLogged ? userLogged.id : null%>" type="button" class="btn btn-primary" style="background-color: #3D2ED0; border: none;">Finalizar compra</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- BOOSTRAP CARRITO -->
            </div>

            <div class="c-button-menu-search">        
                    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasExampleLabel"></h5>
                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body" style="text-align: left;">
                            <div>
                                <div class="accordion" id="accordionExample">
                                    <% if (!locals.userLogged){%> 
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="headingTwo">
                                                <a href="/users/login" class="accordion-button collapsed no-acordion" type="button">
                                                    Iniciar sesión
                                                    <i class="fas fa-sign-in-alt" style="margin-left: 18.2vw;"></i>
                                                </a>
                                            </h2>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="headingTwo">
                                                <a href="/users/register" class="accordion-button collapsed no-acordion" type="button">
                                                    Registrarse
                                                    <i class="fas fa-user-plus" style="margin-left: 24.1vw;"></i>
                                                </a>
                                            </h2>
                                        </div>
                                    <%}else{%>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="headingOne">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                <!-- Mi cuenta -->
                                                <%= userLogged.name %>
                                                <i class="fas fa-user-circle icon-b-acordion" style="margin-left: 46.4vw;"></i>  
                                            </button>
                                            </h2>
                                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <a class="dropdown-item" href="/users/profile/<%=userLogged.id%>">Ver perfil</a>
                                                <% if (userLogged.access == '2') { %>
                                                    <a class="dropdown-item" href="/products/create">Cargar producto</a>
                                                <%}%>
                                                <a><hr class="dropdown-divider"></a> 
                                               <a class="dropdown-item" href="/users/logout">Cerra sesion</a>
                                            </div>
                                            </div>
                                        </div>
                                    <%}%>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingThree">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                Productos
                                            </button>
                                        </h2>
                                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                
                                                <a class="dropdown-item" href="/search?name=&categoryId=&typeId=1&price=">Consolas</a>
                                                <a class="dropdown-item" href="/search?name=&categoryId=&typeId=3&price=">Computadoras</a>
                                                <a class="dropdown-item" href="/search?name=&categoryId=&typeId=2&price=">Juegos</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingFour">
                                            <a href="/about" class="accordion-button collapsed no-acordion" type="button">
                                                Sobre nosotros
                                            </a>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                <form class="search-mobile" action="/products/search" method="GET">  
                    <input class="search-bar-mobile" type="text" name="search" placeholder="Buscar">
                    <button class="search-icon-mobile" type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
        </div>
        <!----------------------------------    BOOSTRAP   MENU TELEFONO END ------------------------------------------>

        <div class="nav-1">
            <a href="/" class="logo-desktop">
                <img src="/images/icon/Logo4.png" alt="logo" width="100%">
            </a>
            
            <form id="searchForm" class="search" action="/search" method="GET"> 
                <input id="searchBar" class="search-bar" type="text" name="name" placeholder="Buscar">
                <button class="search-icon" type="submit"><i class="fas fa-search"></i></button>
            </form>
            
            <div class="nav-1-controls">

                <div class="c-user-controls">
                    <% if (!locals.userLogged){%> 
                        <a class="c-user-controls-login" href="/users/login">Iniciar sesion</a>
                       <a class="c-user-controls-register" href="/users/register">Registrarse</a> 
                    <% }else{ %> 
                        <div class="dropdown drop-user">
                            
                            <a class="c-user-controls-user" href="#"><img src="/images/users/<%=userLogged.image%>"> <%= userLogged.name %> <i class="fas fa-chevron-down" style="margin: 0 0.6vw;"></i></a>
                        
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="/users/profile/<%=userLogged.id%>">Ver perfil</a></li>
                                <% if (userLogged.access == '2') { %>
                                    <li><a class="dropdown-item" href="/products/create">Cargar producto</a></li>
                                <% } %>
                                <li><hr class="dropdown-divider"></li> 
                                <li><a class="dropdown-item" href="/users/logout">Cerra sesion</a></li>
                            </ul>
                        </div>
                    <% } %> 
                </div>
                
                <a href="#" class="i-cart position-relative" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                    <i class="fas fa-shopping-cart"></i>
                    <span id="cartBadge" class="position-absolute top-0 start-100 translate-middle badge rounded-pill" style="background-color: #3e2ed0;">
                        0
                    </span>
                </a>


                <!-- BOOSTRAP CARRITO -->

                    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                        <div class="offcanvas-header">
                            <h5 id="offcanvasRightLabel">Carrito (0)</h5>
                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                        <div class="offcanvas-body" style="padding: 0%;overflow: hidden;">
                            <div id="c-products-cart" class="c-products-cart">

                                <p id="CartEmpty" class="CartEmpty">No tienes productos en el carrito</p>
                            </div>
                            <div id="offcanvas-footer" class="offcanvas-footer" style="display: none;">
                                <div class="div-finalPriceCart">
                                    <p id="tFinalPriceCart" class="finalPriceCart">Total :</p>
                                    <p id="finalPriceCart" class="finalPriceCart"></p>
                                </div>
                                <div class="c-buttons-cart">
                                    <button type="button" class="btn btn-primary" style="background-color: #F2204D; border: none;" onclick="emptyCart()">Vaciar carrito</button>
                                    <a href="/cart/<%= locals.userLogged ? userLogged.id : null%>" type="button" class="btn btn-primary" style="background-color: #3D2ED0; border: none;">Finalizar compra</a>
                                </div>
                            </div>
                        </div>
                    </div>

                <!-- BOOSTRAP CARRITO -->
            </div>
        </div>
        <div class="nav-2">
            <ul class="ul-nav-2">
                <li><a class="item" href="/search?name=&categoryId=&typeId=1&price=">Consolas</a></li>
                <li><a class="item" href="/search?name=&categoryId=&typeId=3&price=">Computadoras</a></li>
                <li><a class="item" href="/search?name=&categoryId=&typeId=2&price=">Juegos</a></li>
                <li><a href="/about" class="item">Sobre Nosotros</a></li> 
            </ul>
        </div>
    </nav>
</header>